{% extends "articles/base.html" %}

{%  block content %}
    {% for article in articles %}
        <div class="card text-center" style="margin: 7px">
          <div class="card-header">
            {{ article.author.name }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <p class="card-text">{{ article.content|truncatechars:250 }}</p>
            <a href="{{ article.get_absolute_url }}" class="btn btn-primary">Read in full</a>
          </div>
          <div class="card-footer text-muted">
              <span>Last update: {{ article.updated_at }}</span>
          </div>
        </div>
    {%  endfor %}
{% endblock %}