{% extends "articles/base.html" %}

{%  block content %}
        <table class="table table-hover">
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Occupation</td>
                <td>Email</td>
            </tr>
            {% for author in authors %}
                    <tr onclick="window.location.href='{{ author.get_absolute_url }}'; return false" style="cursor: pointer">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ author.name }}</td>
                        <td>{{ author.occupation }}</td>
                        <td>{{ author.email }}</td>
                    </tr>
            {% endfor %}
        </table>
{% endblock %}